:root{
    --text-color: white;
    --surface-color: rgba(255, 255, 255, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --image-button: url(./assets/lua.svg);
    --highlight-color: rgba(255, 255, 255, 0.2);
}

.light{
    --text-color: black;
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --image-button: url(./assets/sol.svg);
    --highlight-color: rgba(0, 0, 0, 0.1);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: url(./assets/background-dark.jpg) no-repeat top center/cover;
}

*{
    font-family: "Inter", sans-serif;
    color: var(--text-color);
    font-weight: 600;
}

#everything{
    width: 100%;
    max-width: 588px;
    margin: 56px auto 0px;
    padding: 0 24px;
}

#profile {
    text-align: center;
    padding: 24px;
}

#profile img{
    height: 112px;
    width: 112px;
    border-radius: 50%;
}

#switch {
    position: relative;
    width: 64px;

    margin: 4px auto;
    background: var(--surface-color);
    border-radius: 32px;

}

#switch button{
    width: 32px;
    height: 32px;
    border: 0;
    border-radius: 50%;
    background: white var(--image-button);

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
}

#switch button:hover{
    outline: 8px solid var(--highlight-color);
}

#switch span{
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}

ul{
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

ul li a{
    display: flex;
    align-items: center;
    justify-content: center;    

    padding: 16px 24px;

    background: var(--surface-color);
    border-radius: 8px;

    text-decoration: none;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    
}

ul li a:hover{
    background: var(--surface-color-hover);
    border: 1.5px solid var(--text-color);
}